.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}


@media screen and (max-width: 375px) {
  .auth-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-header {
    text-align: center;
  }

  .container {
    margin-bottom: 20px;
  }
}