footer {
  padding: 30px 0;
  clear: both;
  font-size: 20px;
  text-align: center;
  height: 50px;
  margin-top: 100px;
  margin-bottom: -1rem;
}

.footer-link{
  font-size: 20px;
  text-align: left;
  color: white;
}

.footer {
  left: 0;
  bottom: -1em;
  width: 100%;
  margin-top: 20vh;
  color: white;
  background-color: #343a40;
}