/* * {
  box-sizing: border-box
} */


.row {
  width: 100%;
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.container {
  /* margin-left: 0px;
  margin-right: 0px; */
  width: 100%;
  margin-top: 10vh;
}

.text,
h4 {
  text-align: center;
  margin-top: 20px;
}

.otherProjects {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}



@media screen and (max-width: 375px) {
  [class*='col-'] {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    row-gap: 10px;
  }
  .row {
    display: block;
    width: 95vw;
    align-content: center;
  }
}