* {
  box-sizing: border-box
}


.row {
  width: 100%;
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.container {
  /* margin-left: 0px;
  margin-right: 0px; */
  width: 100%;
}

.text,
h4 {
  text-align: center;
}