/* * {
  box-sizing: border-box
} */


.row {
  width: 100%;
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.container {
  /* margin-left: 0px;
  margin-right: 0px; */
  width: 100%;
  margin-top: 10vh;
}

.text,
h4 {
  text-align: center;
}



/* @media screen and (max-width: 375px) {
  [class*='col-'] {
    width: 100%;
  }
  .row {
    display: block;
    width: 100%;
    align-content: center;
  }
} */